
//header

header {
    width: 100%;
    height: 16rem;
    background-color: $Background-color;
    color: $text-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        font-size: $title-size;
        .app-image { //nesting elements inside a parent label
            background-image: url('https://img.icons8.com/ios/100/000036/sun--v1.png');
            //image doesn't display, don't know how to solve it
            @include image-styles(3rem)
        }
    }
    .header-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        h3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8rem;
            font-size: $text-size;
            a {
                @include image-styles(3.6rem)
            }
            .weather-app-img{
                background-image: url('https://img.icons8.com/ios/100/000036/partly-cloudy-day--v1.png');    
            }
            .github-acc{
                background-image: url('https://img.icons8.com/ios/100/000036/github--v1.png');
            }
        }
    }
}