* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 16rem;
  background-color: white;
  color: rgb(0, 0, 54);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-size: 2rem;
}
header h1 .app-image {
  background-image: url("https://img.icons8.com/ios/100/000036/sun--v1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
}
header .header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header .header-info h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}
header .header-info h3 a {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3.6rem;
  width: 3.6rem;
}
header .header-info h3 .weather-app-img {
  background-image: url("https://img.icons8.com/ios/100/000036/partly-cloudy-day--v1.png");
}
header .header-info h3 .github-acc {
  background-image: url("https://img.icons8.com/ios/100/000036/github--v1.png");
}

main {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  background-color: white;
}
main form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main form input {
  border: none;
  border-radius: 1.2rem;
  padding-inline: 6rem;
  padding-block: 2rem;
  background-color: rgb(238, 238, 238);
  text-align: center;
  color: rgb(0, 0, 54);
}
main form ::placeholder {
  color: rgb(0, 0, 54);
  opacity: 1;
}
main form button {
  font-weight: 400;
  border-radius: 1.2rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border: none;
  background-color: rgb(0, 0, 54);
  color: white;
}
main .cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main .cards-section .card-container {
  height: 36rem;
  width: 20rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(0, 0, 54);
  color: white;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 4px -3px rgba(0, 0, 0, 0.26);
}
main .cards-section .card-container .card-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
main .cards-section .card-container .card-top span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: rgb(0, 0, 54);
}
main .cards-section .card-container .card-degrees {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 400;
}
main .cards-section .card-container .card-climate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
}
main .cards-section .card-container .card-climate span {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 8rem;
  width: 8rem;
}
main .cards-section .card-container .card-climate .clouds {
  background-image: url("https://img.icons8.com/ios/100/FFFFFF/cloud.png");
}
main .cards-section .card-container .card-climate .rain {
  background-image: url("https://img.icons8.com/ios/100/FFFFFF/rain--v1.png");
}
main .cards-section .card-container .card-description {
  font-size: 1.6rem;
}

footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 54);
}
footer p {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
